#--------------------------------------------------
# Répertoire : /calendar/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

RewriteRule ^inconnu\.html$  /calendar/test.html [L]

#RewriteRule ^generer-([a-z0-9\-]+)-([0-9]+).* /calendar/script.php?dest=$1&id=$2 [L]
RewriteRule ^generer-([0-9]+)-([0-9]+)\.ics* /calendar/script.php?dest=$1&id=$2 [L]
